html, body {
    img { width:100%;height: auto; }
}


header {

    nav {
        .brand-logo {
            img {
                width:auto;
                height: 64px;
                @include filter(grayscale, 100%);
                transition: all 0.2s;
                &:hover {
                    @include filter(grayscale, 1%);
                }
                @media (max-width: 600px) {
                    height: 56px;
                }
            }
            span {
                margin-left: 64px;
                 color: #000;
            }
        }
        a {
             color: #000;
        }
    }

}


.video-container {
    position:fixed;
    z-index:-99999;
    top: -10vw;
    width:100%;
    max-width: 100%;
    @media only screen and (max-width : 600px) {
        top: 0;
    }
}
video {
    width:100%;
    object-fit: cover;
}

.vid-overlay {
z-index:-9999;position: fixed; width: 100%; height: 200vh; background-color: #000; top: -10vh; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
}

main {
    margin-top: 30vw;
    background-color:#fff;
    @media only screen and (max-width : 600px) {
        margin-top: 33vw;
    }
    h2,h3,h4,h5 {font-family: 'oswald', sans-serif;}
    h4 {color: #304458;}


    .cta {
        font-family: 'oswald', sans-serif;
        width:100%;
        margin:-3vh 0 0 0;
        @media only screen and (max-width : 600px) {
            margin:5vh 0 0 0;
        }
    }

    section {
        padding: 3vh 0;
        #map {
            width: 100%;
            height: 40vh;
            margin: 5vh 0;
        }
    }

    .intro {
        padding: 10vh 0 10vh 0;
    }

    .collage {
        margin: 0; padding:0;
        .row, .col {
            margin:-6px 0 0 0;padding:0;
        }
    }

    #informationer {
        margin-top: -6px;
    }

    .carousel {
        height: 830px;
        margin-top: -10vh;
        @media only screen and (max-width : 400px){
            height: 530px;
        }

        .carousel-item {
            background-color: #fff;
            color: #000;
            width: 400px;
            @media only screen and (max-width : 600px){
                width: 80vw;
            }

            .carouselDesc {
                padding: 0 8px;

                h4 {
                    font-size: 1.5em;
                }

                button {
                    background:none;
                    border:none;
                    color:#01579b;
                    transition: all 0.2s;
                    padding:8px 11px;
                    font-size: 1.5em;

                    &:hover {
                        color:#03a9f4;
                    }
                }
                .youtube {
                    color:#c62828;
                    &:hover {
                        color:#f44336;
                    }
                }
                .spotify {
                    color:#00c853;
                    &:hover {
                        color:#69f0ae;
                    }
                }
            }
        }
    }

}

footer {
    color: #cfd8dc;
    padding: 50px 0 50px 0;
    min-height: 30vh;
    background-color: #192024;
    font-family: 'oswald', sans-serif;

    h3 {
        color: #eceff1;
        font-size: 1em;
    }

    a {
        color: #78909c;
        font-size: 0.8em;
        transition: all .3s;
        &:hover {
            color: #eceff1;
        }
    }

    .copyright {
        color: #455a64;
        margin: 25px 0;

        hr {
            margin: 25px 0;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        h1 {
            font-size: 1em;
            margin: 0;
            display: inline;
        }

        a {
            color: #455a64;
            font-size: 1em;
            &:hover {
                color: #fff;
            }
        }
    }

    .row {
        margin-bottom: 0;
    }
    .socialIcons {
        font-size: 2em;
    }
}

.tilmelding {
    margin: 10vh 0;
    iframe {
        width:100%;
        border:0;
    }
}
